/*  */
.content h3{
	font-size: 7vw;
	margin-bottom: 10vw;
	padding-top: 10vw;
	text-align: center;
}

.content ul li{
	margin-bottom: 3vw;
	background: #fff;
	box-sizing: border-box;
	padding: 3vw 5%;
	border-radius: 4vw;
	box-shadow: rgba(0,0,0,0.1) 0 0 4vw;
	display: flex;
	align-items: center;
}

.content ul li h5{
	font-size: 4vw;
	width: 20%;
}

.content ul li input{
	background: transparent;
	width: 80%;
	border: 0;
	outline: none;
	height: 10vw;
	line-height: 10vw;
	font-size: 4vw;
}

.content ul li input::placeholder{
	color: #999;
}

.okBtn{
	margin-top: 60vw;
}